@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,300&family=Roboto:wght@100;300;400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400&family=Playfair+Display:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,300&family=Roboto:wght@100;300;400;500;900&display=swap');


:root {
    --heading-font-family:'Poppins', sans-serif;
    --default-font-family: 'Playfair Display', serif;
}body{
    font-family: var(--default-font-family);
}
h2{
    font-size: 64px;
    font-family: var(--heading-font-family);
    font-weight: bold;
    color: black;
   
}
p{
    font-weight: normal;
    font-size: 16px;
    line-height: 1.9em;
}
.hero-section {
    background-color: #f9fef7;
    text-align: center;
    padding: 170px 15px;
}
.hero p{
    font-size: 32px;
    font-weight: bold;
    font-family:var(--default-font-family);
    margin:0;
}
h1{
    font-size: 96px;
    line-height: 1.5;
}

.hero h2{
    font-size: 24px;
    font-weight: bold;
    font-family: var(--heading-font-family);
    line-height: 2;
    color:#272142
}
.project-description{
    padding: 120px 60px;
}

/* STYLING THE ABOUT PAGE */
.about-session{
    padding: 10px 15px;
}
.about-session h1{
    font-size: 64px;
    line-height: 1em;

}
.about-session h2{
    font-size: 18px;
    font-family: var(--default-font-family);
}
.about-content{
   
    margin: 30px;

}
.about-img img{
    border-radius: 20px;
    border:2px solid #000;
    width: 300px;

}
@media (max-width:900px) {
    h1{
        font-size: 50px;
    }
    .project-description{
        padding:0;
        text-align: center;
    
}
.about-session{
    text-align: center;
    padding: 0;
}
.about-session h1{
    font-size: 44px;

}
}

